<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05-v-model结合select类型</title>
</head>
<body>
<div id="app">

  <!-- 1.选择一个 -->
  <select name="fruits" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="菠萝">菠萝</option>
    <option value="哈密瓜">哈密瓜</option>
  </select>
  <h2>您选择的是: {{fruit}}</h2>
  <!-- 2.选择多个 -->
  <select name="fruits" v-model="listFruit" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="菠萝">菠萝</option>
    <option value="哈密瓜">哈密瓜</option>
  </select>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好',
      fruit: '苹果',
      listFruit: []
    }
  })
</script>

</body>
</html>